body{
margin:0;
overflow:hidden;
background:black;
}

canvas{
display:block;
}

#ui{
position:absolute;
top:20px;
left:20px;
color:white;
font-size:20px;
font-family:Arial;
z-index:5;
}

#cross{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:white;
font-size:30px;
z-index:5;
}
#mobile{
display:none;
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
z-index:10;
pointer-events:none;
}


#joystick{

position:absolute;
bottom:50px;
left:50px;

width:120px;
height:120px;

border-radius:50%;
background:rgba(255,255,255,.2);

pointer-events:auto;

}


#stick{

position:absolute;

width:50px;
height:50px;

left:35px;
top:35px;

border-radius:50%;

background:rgba(255,255,255,.7);

}


#fire{

position:absolute;

right:60px;
bottom:80px;

width:90px;
height:90px;

border-radius:50%;

font-size:35px;

pointer-events:auto;

}


@media(max-width:700px){

#mobile{
display:block;
}

}
